.main {
  width: 100%;
  padding: 0;
}

.image {
  background-image: url('../app/ui/images/main.png');
  width: 100%;
  /* max-width: 1440px; */
  background-color: transparent;
  aspect-ratio: 96 / 43;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right -400px;
}

@media screen and (max-width: 1200px) {
  .image {
    background-image: url('../app/ui/images/main.png');
    width: 100%;
    max-width: 1200px;
    aspect-ratio: 768 / 803;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }
}

@media screen and (max-width: 767px) {
  .image {
    background-image: url('../app/ui/images/main_mobile.png');
    width: 100%;
    max-width: 767px;
    aspect-ratio: 65 / 133;
    background-size: cover;
    background-position: 48% bottom;
  }
}
