.main {
  width: 100%;
  padding: 0;
}

.image {
  background-image: url('../app/ui/images/main.png');
  width: 100%;
  /* max-width: 1440px; */
  background-color: transparent;
  aspect-ratio: 96 / 43;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right -400px;
  padding: 90px 120px 171px 120px;
  box-sizing: border-box;
}

.text {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  width: 734px;
}

.text p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 400;
  font-size: 18px;
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.text h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 700;
  font-size: 70px;
  line-height: 75px;
  opacity: 0;
  color: #fff;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.text h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 400;
  font-size: 24px;
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .image {
    background-image: url('../app/ui/images/main.webp');
    width: 100%;
    max-width: 1200px;
    aspect-ratio: 768 / 803;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding: 140px 40px 293px 50px;
  }

  .text {
    gap: 25px;
    width: 619px;
  }

  .text h1 {
    font-size: 60px;
    line-height: 75px;
  }
}

@media screen and (max-width: 767px) {
  .image {
    background-image: url('../app/ui/images/main_mobile.webp');
    width: 100%;
    max-width: 767px;
    aspect-ratio: 65 / 133;
    background-size: cover;
    background-position: 48% bottom;
    padding: 60px 15px 182px;
  }

  .text {
    gap: 18px;
    width: 100%;
  }

  .text h1 {
    font-size: 36px;
    line-height: 40px;
  }

  .text p {
    font-size: 12px;
  }

  .text h2 {
    font-size: 16px;
  }
}
